<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="excel-java-iris.ZPM">
    <Module>
      <Name>excel-java-iris</Name>
      <Version>0.0.5</Version>
      <Description>excel-java-iris</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="otw.iris.PKG"/>
      <FileCopy Name="excel/" Target="${mgrdir}excel/"/>
    </Module>
  </Document>
</Export>
